<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot</title>
</head>
<body>
<h1>List of best Barça players</h1>
<table border="1">
    <tr th:each="user : ${users}">
        <td th:text="${user.nationalId}">National Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.email}">E-mail</td>
        <td>
            <form th:method="get" th:action="@{'/delete/' + ${user.id}}">
                <input type="Submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<form th:method="post" th:action="${'/add'}" th:object="${newPlayer}">
    National Id<input type="text" th:field="*{nationalId}"/>
    Name<input type="text" th:field="*{name}"/>
    E-mail<input type="text" th:field="*{email}"/>
    <input type="submit" value="Add new player"/>
</form>
</body>