<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of users</title>
<link rel="stylesheet" 
	  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
    <br>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody th:if="${not #lists.isEmpty(users)}">
		    <tr th:each="user : ${users}">
				<td th:text="${user.nationalId}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td>
					<a th:href="@{/tasks/user-tasks(userId=${user.nationalId})}" class="btn btn-info">Tasks</a>
					<a th:href="@{/taskmanager/update-userform(id=${user.id})}" class="btn btn-info">Update</a>
					<a th:href="@{delete-user(id=${user.id})}" class="btn btn-danger">Delete</a>
				</td>
		    </tr>
		</tbody>
		<tbody th:if="${#lists.isEmpty(users)}">
			<tr>
				<td colspan="4">No Data found</td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/taskmanager/add-userform}" class="btn btn-primary col-2">Add User</a> 
	</div>
</body>
</html>
